
.specialServe{margin-top:15px;width:100%;}

.specialServe .box{width:48%;border:1px #858b91 solid;border-radius:5px;padding:15px 25px;float: left;background: #091b31;}
.specialServe .box:nth-of-type(odd){margin-right: 4%;}
.specialServe .box h2{font-size:20px;color:#3dc9a2;margin-top:10px;}
.specialServe .box ul{width:100%;}
.specialServe .box ul li{float: left;width: 30%;color: #3dc9a2;margin-bottom: 10px;font-size: 14px;margin-right:3%}
.specialServe .box ul li .select{font-size:12px; float:right;width:40%;height:28px;border:1px #858b91 solid;border-radius: 0px;margin-right:15%;}
.specialServe .box ul li span{float: left;width:40%;}
.specialServe .box ul li input{float:right;width:60%;height:28px;border:1px #858b91 solid;background: none;color:#c3c3c3}

/*增删改查按钮*/
.modify{width:50%;height:60px;padding:0px;position: absolute;bottom:2%;}
.modify .btn-ma{margin-right:50px;}

