
/*信息表格*/
.information{margin-top:15px;width:100%;}
.information table th{color:#37bf97;font-size:16px;}
.table > thead > tr > th{border-bottom:1px #656c7e solid;}
.table-bordered > tbody > tr > td{border:1px #656c7e solid !important;}
.information table td{color:#fff;font-size:14px;}
.table-striped > tbody > tr:nth-of-type(even){background:rgba(0,0,0,0.3);}
.table-striped > tbody > tr:nth-of-type(odd){background:none;}


/*增删改查按钮*/
.modify{width:100%;height:60px;padding:0px;}
.modify .btn-ma{margin-left:50px;margin-right:100px;}