*{
    margin: 0 ;
    padding: 0 ;
    font-family: "微软雅黑";
}
li,ol{
     list-style: none;
}
#main-body{
    position: absolute;
    top: 0; left:0; right:0; bottom: 0;
    min-width: 1400px;
    min-height: 755px;
}

#main-head{
    width: 100%;
    height: 95px;
    float: left;
    position: relative;
}
#main-head .top_bg{
    height:95px;
    width:100%;
    min-width:1230px;
    border-bottom: 1px solid #a1a1a1;
}
#main-head .lo-user{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:95px;
}


#center-flex{
    width: 100%;
    float: left;
    height: 86%;
    display: flex;
}
#center-flex #main-side{
    height: calc(100% + 35px);
    width: 12%;
    overflow:auto;
    position:relative;
}
#center-flex #main-side #sideList{
    position:absolute;
    top:40px;
    left:0px;
}

#center-flex #main-show{
    height: 100%;
    width: 88%;
    overflow: auto;
}
#main-foot{
    height: 35px;
    width: 88%;
    float: right;
    min-height:35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#main-foot img{
    width:100%;
    height:100%;
}
#main-foot h4{
    position: absolute;
    width:100%;
    display: block;
    top:0px;
    left:0px;
    text-align: center;
    font-size: 14px;
}


/*页面头部*/
/*banner*/
.head-banner {
    width: 100%;
    height: 8%;
    background-color: #2b3949;
    border-bottom: 1px solid #2b3949;
    min-height: 90px;
}
#main-head #logo {
    height: 70%;
    font-size: 50px;
    display: flex;
    margin-left:10px;
    align-items: center;
    float: left;
}
#main-head #logo .one {
    margin-top:29px;
    margin-left: 30px;
    width:160px;
}
#main-head #logo .two {
    margin-top:29px;
    margin-left:60px;
    width:394px;
    height:36px;
}



#main-head #user-status {
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
    margin-right: 30px;
    color:#ffffff;
}
#user-status b {
    transition: .3s;
    color: #ffffff;
    cursor: pointer;

}
#user-status b:hover {
    color: #656C7E;

}

#user-status a {
    margin-right: 20px;
    border: 0px;
    transition: .5s;
    cursor: pointer;
    color: #ffffff;
    transition: .5s;
    text-decoration: none;
}

#user-status a:hover {
    color: #656c7e;
}
/*页面侧边栏*/
/*side*/
.accordion {
    width: 100%;
    max-width: 360px;
    margin: 0px auto 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 40px;
    color: #fff;
    font-size: 16px;
    text-align: left;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/*字体颜色*/
.yellow{
    color: #f8ff30!important;
}
.accordion .link:hover {
    background: #656c7e;
}

.accordion .link:focus{
    color:#f8ff30;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.submenu {
    display: none;
    background: #374862;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #656c7e;

}

.submenu a {
    display: block;
    text-decoration: none!important;
    color: #d9d9d9;
    padding: 12px;
    text-align:center;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #656c7e;
    color: #FFF;
    cursor:pointer;
}

.back-color{
    background-color: #656c7e;
    color:#fff;
}

/*主题内容*/
#main-show .main-module {
    padding-left: 1%;
    padding-top: 1%;
}

/*背景*/
.right-bg{
    position: relative; top: 0px; left: 0px; bottom: 0px; right: 0px;z-index: -1;
}
.right-bg .bg{
    width:100%;
    height:100%;
}

.right-bg .qiu{
    position:absolute;
    margin: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
}



#main-show .serve-banner {
    width: 96%;
    height: 55px;
    margin: 20px 2%;

}
#main-show #now-position{
    width: 96%; margin: 35px 0px -20px 2%; height: 30px; font-size: 15px;color:#C3C1C4;
}
#main-show #now-position span{
    color: #C3C1C4;
}
#main-show .serve-banner an {
    height: 55px;
    float: right;
    display: flex;
    align-items: center;
}

#main-show .serve-banner  input[type="button"] {
    height: 30px;
    width: 100px;
    background-color: #2B3949;
    border: 0px;
    color: #fff;
    border-radius: 5px;
    margin-right: 15px;
    transition: .5s;
}

#main-show .serve-banner  input[type="button"]:hover {
    background-color: #ff743d;
}
/*添加窗口*/
.add {
    margin: 20px auto;
    font-size: 14px;
}

.add td {
    width: 120px;
    height: 40px;
    text-align: center;
}

.add input[type="text"] {
    width: 200px;
    height: 25px;
    border: 1px solid #E7E7E7;
}

.add textarea {
    width: 200px;
    height: 80px;
    resize: none;
    margin-top: 7px;
}

.add select {
    width: 200px;
    height: 25px;
    border: 1px solid #E7E7E7;
}

/*图片上传样式*/
#box{
    position: absolute;
    margin: 0px auto;
    left:0;
    right:0;
    transition: .3s;
    z-index: 9999;
    top: 30%;
}
/*serveBanner 时间样式*/
#date-input{
    height: 100%;
    display: flex;
    align-items: center;
}
#date-input date {
    margin-left: 15px;
    margin-right: 15px;
}