
.overall{background:none;}
.report{  width:100%;border:1px #858b91 solid; background: #091b31;margin-top: 14px;padding:0 20px;padding-top:10px;}
.report .re_l{width:50%;padding:10px;height:380px;}
.report .re_r{width:49%;padding:10px;height:380px;}
#canvasDiv1{}
